{block content}
<h1 n:block=title>Pig Latin Translator <img src="https://cdn-icons-png.flaticon.com/512/3800/3800591.png"/></h1>

<div id="content">
  <h2>Insert any sentence you want to translate to pig latin.</h2>
  {snippet form}
  {control translatorForm}
  {/snippet}
</div>
